body {
  
  background-image: url('/src/assets/images/fondos/burguer.jpg') !important;
}

body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #004aad; /* Negro al 50% de opacidad = reduce brillo */
	z-index: -1;
}


.contenedor1 {
  background-color: rgb(27, 27, 27); /* Negro se mantiene igual */
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 2.5em;
  border-radius: 1em;
  margin-top: 1.5em;
  margin-bottom: 3em;
  color: #ffffff;
}

.inputs {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.link-login {
  color: #004aad; /* Cambiado de orange a azul */
  font-size: 15px;
  transition: 0.6s;
}

.texto-loginR {
  color: #fff; /* Cambiado de yellow a azul */
  font-size: 12px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.titulo-lr {
  text-align: center;
  margin-bottom: 1.5em;
  font-size: 40px;
}

.link-login:hover {
  color: #003366; /* Azul más oscuro para hover */
}

.labels {
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.texto-validacion {
  color: red;
  font-size: 15px;
  text-align: center;
}

.error-usuario {
  background-color: red;
  padding: 1.5em;
  font-size: 16px;
  color: #ffffff !important;
  text-align: center;
}

.nav-lr {
  background-color: rgb(32, 32, 34); /* Negro se mantiene igual */
  display: flex;
  margin-bottom: 3em;
  justify-content: space-around;
}

.ul-lr {
  display: flex;
  list-style-type: none;
  text-align: center;
  margin-top: 2em;
}

.titulo-nav {
  color: white;
  font-size: 2em;
  margin-left: 1em;
}

.link-nav {
  color: white;
  margin: 1em;
  text-decoration: none;
  background-color: #004aad; /* Cambiado de rgb(32,171,32) a azul */
  padding: 1em;
  border-radius: .5em;
  font-size: 15px;
  transition: 0.6s;
}

.link-nav:hover {
  background-color: #003366; /* Azul más oscuro para hover */
}

.inputsR {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.contenedor2 {
  margin-left: -1em;
}

/* Media queries se mantienen igual */
@media (max-width:800px) {
  .contenedor1 {
    
  margin-top: 30vw;
    width: 90vw;
  }
}


@media all and (min-width:800px) and (max-width:1400px) {
  .contenedor1 {
    margin-top: 15vw;
    width: 50vw;
  }
}

@media all and (min-width:1400px) and (max-width:2000px) {
  .contenedor1 {
    margin-top: 15vw;
    width: 30vw;
  }
}

.boton-login {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fff; /* Cambiado de #ffc107 a azul */
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background-color: #000; /* Negro se mantiene igual */
  border: none;
}

.boton-login:hover {
  background: #004aad;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #004aad,
    0 0 25px #004aad,
    0 0 50px #004aad,
    0 0 100px #004aad;
}

.boton-login span {
  position: absolute;
  display: block;
}

.boton-login span:nth-child(1) {
  background: linear-gradient(90deg, transparent, #004aad); /* Cambiado a azul */
}

.boton-login span:nth-child(2) {
  background: linear-gradient(180deg, transparent, #004aad); /* Cambiado a azul */
}

.boton-login span:nth-child(3) {
  background: linear-gradient(270deg, transparent, #004aad); /* Cambiado a azul */
}

.boton-login span:nth-child(4) {
  background: linear-gradient(360deg, transparent, #004aad); /* Cambiado a azul */
}

.password-input-container {
  display: flex;
  align-items: center;
}

.password-toggle-icon {
  width: 50px;
  height: 40px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: -20px;
  border-radius: 20px;
}